# Node.js
node_modules/

# Build files
build/
dist/

# Cache files
.cache/
yarn-error.log
npm-debug.log

# Editor files
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.user
*.suo
*.bak
*.cache
*.log
*.dat
*.tmp
*.pid
*.stylecop
*._mpf

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# ESLint
.eslintcache

# Jest
coverage/